.socials {
  display: flex;
}

.social {

  svg {
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {

    svg {
      opacity: 0.8;
    }
  }
}

@include laptop {

  .social {

    svg {
      width: 65px;
      height: 65px;
    }
  }
}

@include mobile {

  .social {

    svg {
      width: 45px;
      height: 45px;
    }
  }
}