// Color
$bg: #000;
$color-gray: #CECFDB;
$common-color: #347DFE;
$white: #fff;

// Шрифты (названия в миксинах)
$font_medium: Inter-medium;
$font_bold: Inter-bold;

//Разрешения экранов
$desktop-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;