.bg-top {
  position: relative;
  background-size: cover;
  background-image: url('../img/first_screen-bg-1.jpg');
  background-repeat: no-repeat;
  background-position: top;
  position: center;
  min-height: 834px;

  &::after {
    content: '';
    position: absolute; 
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(15, 27, 39, 0.72) 0%, rgba(15, 27, 39, 0.00) 100%);
  }

  &::before {
    content: '';
    position: absolute; 
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    transform: rotate(180deg);
  }
}

[data-js-bg="1"] {
  background-image: url('../img/first_screen-bg-1.jpg');
  transition: all 0.6s ease-in-out;
}


[data-js-bg="2"]  {
  transition: all 0.6s ease-in-out;
  background-image: url('../img/first_screen-bg-2.jpg');
}

.bg-top__wrapper {
  display: grid;
  grid-template-columns: 539px auto;
  align-items: start;
  column-gap: 62px;
}