.first-screen {
  position: relative;
  grid-column: 2/3;
	grid-row: 2/3;
  z-index: 1;

  .h1 {
    padding-bottom: 16px;
  }
}

.first-screen__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  position: relative;
}

.first-screen__subtitle {
  display: block;
  max-width: 690px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2.8px;
  border-bottom: 1px solid $color-gray;
}

.first-screen__discription {
  @include font($font_bold);
  display: block;
  max-width: 726px;
  padding-bottom: 114px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.05em;
}

.first-screen__video {
  display: flex;
  align-items: center;
  column-gap: 24px;
  cursor: pointer;
  transition: color 0.2s ease-in;

  svg {
    transition: opacity 0.2s ease-in;
  }

  &:hover {
    color: $white;

    svg {
      opacity: 0.8;
    }
  }
}

.first-screen__vide-text {
  margin-top: -4px;
}

.first-screen__video-title {
  @include font($font_bold);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2.4px;
}

.first-screen__video-time {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 10px;
}

.first-screen__socials {
  flex-direction: column;
  row-gap: 36px;
  padding-right: 41px;
  padding-top: 97px;
}