.first-screen {
  position: relative;
  grid-column: 2/3;
	grid-row: 2/3;
  z-index: 1;

  .h1 {
    padding-bottom: 16px;
  }
}

.first-screen__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  position: relative;
}

.first-screen__subtitle {
  display: block;
  width: 690px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2.8px;
  border-bottom: 1px solid $color-gray;
}

.first-screen__discription {
  @include font($font_bold);
  display: block;
  width: 726px;
  padding-bottom: 114px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.05em;
}

.first-screen__video {
  display: flex;
  align-items: center;
  column-gap: 24px;
  cursor: pointer;
  transition: color 0.2s ease-in;

  svg {
    transition: opacity 0.2s ease-in;
  }

  &:hover {
    color: $white;

    svg {
      opacity: 0.8;
    }
  }
}

.first-screen__vide-text {
  margin-top: -4px;
}

.first-screen__video-title {
  @include font($font_bold);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2.4px;
}

.first-screen__video-time {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 10px;
}

.first-screen__socials {
  flex-direction: column;
  row-gap: 36px;
  padding-right: 41px;
  padding-top: 97px;
}

// @include laptop {

//   .first-screen__wrapper {
//     column-gap: 30px;
//   }
  
//   .first-screen__subtitle {
//     margin-bottom: 30px;
//     padding-bottom: 30px;
//     font-size: 46px;
//     line-height: 52px;
//   }

//   .first-screen__discription {
//     padding-bottom: 24px;
//     font-size: 35px;
//     line-height: 40px;
//   }

//   .first-screen__socials {
//     row-gap: 25px;
//     padding-right: 0;
//   }

//   .first-screen__video-title {
//     font-size: 27px;
//     line-height: 28px;
//   }

//   .first-screen__video-time {
//     font-size: 30px;
//     line-height: 34px;
//   }

//   .first-screen__video-icon {
    
//     svg {
//       width: 100px;
//       height: 100px;
//     }
//   }
// }

// @include tablet {

//   .first-screen__wrapper {
//     padding-bottom: 40px;
//   }
// }

// @include mobile {

//   .first-screen {
//     position: relative;
//   }

//   .first-screen__wrapper {
//     column-gap: 3px;
//   }

//   .first-screen__subtitle {
//     font-size: 36px;
//     line-height: 46px;
//     border: none;
//     margin-bottom: 0;
//     padding-right: 50px;
//   }

//   .first-screen__discription {
//     text-align: center;
//     margin: 0 auto;
//   }

//   .first-screen__video {
//     flex-direction: column;
//     max-width: 300px;
//     margin: 0 auto;
//   }

//   .first-screen__video-time {
//     text-align: center;
//   }

//   .first-screen__video-title {
//     text-align: center;
//   }

//   .first-screen__socials {
//     position: absolute;
//     padding-top: 0;
//     right: 0;
//     right: 0;
//   }
// }