
.header {
	position: relative;
	padding-top: 24px;
	padding-bottom: 48px;
	grid-column: 2/3;
	grid-row: 1/2;
	z-index: 1;
}

.header__wrapper {
	display: flex;
	padding-right: 44px;
}

.header__nav {
	display: flex;
  column-gap: 43px;
	margin-left: auto;
	font-size: 40px;
	line-height: 48px;
  letter-spacing: -2px;
	color: $color-gray;
}

.header__menu {
	display: flex;
	column-gap: 40px;
	color: $color-gray;

	li {
		transition: 0.2s ease-in-out;

		&:hover {
			color: $white;
		}
	}
}