
.header {
	position: relative;
	padding-top: 24px;
	padding-bottom: 48px;
	grid-column: 2/3;
	grid-row: 1/2;
	z-index: 1;
}

.header__wrapper {
	display: flex;
	padding-right: 44px;
}

.header__nav {
	display: flex;
  column-gap: 43px;
	margin-left: auto;
	font-size: 40px;
	line-height: 48px;
  letter-spacing: -2px;
	color: $color-gray;
}

.header__menu {
	display: flex;
	column-gap: 40px;
	color: $color-gray;

	li {
		transition: 0.2s ease-in-out;

		&:hover {
			color: $white;
		}
	}
}

.header__button-nav {
	display: none;
}

@media screen and(max-width:1659px) {
  
  .header__nav {
    column-gap: 24px;
    font-size: 20px;
  }
}

@include laptop {
  
  .header__nav {
    line-height: 25px;
    font-size: 25px;
  }

  .header__menu {
    column-gap: 20px;
  }
}

@include mobile {

  .header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 35px;

    &.open {
      overflow: hidden;
      z-index: 5;

      .header__menu {
        transform: translate(0%);
        opacity: 1;
      }

      .header__button-nav {
        span {
          &:nth-child(2) {
            opacity: 0;
          }

          &:first-child {
            top: 8px;
            left: 14px;
            transform: rotate(-45deg) translate(-50%, -50%);
          }

          &:last-child {
            bottom: 5px;
            left: 14px;
            transform: rotate(45deg) translate(-50%, -50%);
          }
        }
      }
    }
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: $bg;
    z-index: 4;
    transform: translate(-150%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .header__nav {
    line-height: 45px;
    font-size: 35px;
  }

  .header__button-nav {
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    z-index: 11;

    span {
      position: absolute;
      margin: 0 auto;
      display: block;
      width: 35px;
      height: 2px;
      background-color: #fff;
      border-radius: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease-in-out;

      &:first-child {
        top: 9px;
      }

      &:last-child {
        bottom: 7px;
        top: unset;
      }
    }
  }
}