.innovations {
  padding-top: 172px;
  padding-bottom: 149px;

  .h2 {
    padding-bottom: 98px;
    text-align: center;
  }
}


.innovations__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 204px;
  padding-left: 35px;
  padding-bottom: 158px;
}

.innovations__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 33px;

  &:first-child {
    position: relative;
  }
}

.innovations_fan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 426px;
  width: 100%;
  min-height: 426px;
  height: 100%;
  margin-bottom: 129px;

  &::before {
    content: '';
    position: absolute;
    width: 408px;
    height: 409px;
    top: 62%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-image: url('../img/innovations-bg-1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 837px;
  //   height: 2px;
  //   top: 62%;
  //   right: -190%;
  //   transform: translateY(-50%);
  //   background-image: url('../img/innovations-bg-2.png');
  // }
}

.innovations_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 264px;

  img {
    width: 100%;
  }
}

.innovations__text {
  @include font($font_bold);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2.4px;
}

.innovations__swipe {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 476px;
  width: 100%;
  margin: 0 auto;
}

.innovations__swipe-line {
  height: 12px;
  max-width: 476px;
  width: 100%;
  border-radius: 4px;
  background: var(--blue-semidark, #0F1B27);
}

.innovations__swipe-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  
  svg {
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {

    svg {
      opacity: 0.8;
    }
  }
}

@include laptop {

  .innovations {
    padding-top: 72px;
    padding-bottom: 145px;
  }

  .innovations__wrap {
    column-gap: 150px;
    padding-bottom: 120px;
  }

  .innovations_fan {
    max-width: 270px;

    &::after {
      top: 62%;
      right: -141%;
    }

    &::before {
      width: 110%;
      height: 110%;
      top: 85%;
      left: 49%;
    }
  }

  .innovations__text {
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0;
  }

  .innovations__swipe-line {
    height: 9px;
  }

  .innovations__swipe-button {
    left: -20px;

    svg {
      width: 90px;
      height: 90px;
    }
  }
}

@include tablet {
  
  .innovations {

    .h2 {
      padding-bottom: 28px;
    }
  }

  .innovations__wrap {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding-left: 0;
  }
}