.widget {
	position: relative;
	display: flex;
	flex-direction: column;
	grid-column: 1/2;
	grid-row: 1/3;
	border: 1px solid $color-gray;
}

.widget__logo {
}

.widget__image {
	position: relative;
}

.widget__image-text {
	position: absolute;
	display: block;
	padding: 8px 12px;	
	font-size: 40px;
	line-height: 48px;
	top: 24px;
	left: 23px;
	background: #00000229;
	border-radius: 4px
}

.widget__text {
	@include font($font_bold);
	font-size: 48px;
	line-height: 56px;
	padding: 24px;
}

.widget__info {
	display: flex;
	align-items: center;
	column-gap: 24;
	margin: auto 24px 24px 24px;
	padding-bottom: 22px;
	border-bottom: 1px solid $color-gray;
	font-size: 40px;
	line-height: 48px;
}

.widget__views {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.widget__likes {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.widget__more {
	@include font($font_bold);
	font-size: 48px;
	line-height: 56px;
	margin-left: auto;
}

.widget__navigation {
	display: flex;
	align-items: center;
	margin: 0 24px 24px 24px;


	.button {
		font-size: 40px;
		line-height: 48px;

		&:first-child {
			padding-right: 70px;
			border-right: 1px solid $color-gray;
		}

		&:last-child {
			margin-left: auto;
		}
	}
}
